article.show-alone
  width: 100% 
  height: 100%
  display: flex
  align-items: center

  div.show-container
    padding: 20px
    margin: 0 auto
    display: flex
    align-items: flex-start

  .img-wrapper 
    width: 40% 
    max-width: 400px 

  .img-wrapper img
    width: 100%
    border-radius: 7px

  .show-meta-alone
    flex: 1
    margin-left: 20px

  .show-meta-name
    font-size: 34px
    font-weight: 600
    margin-bottom: 0px
    color: $black
    line-height: 1
    margin: 10px 0

  .show-meta-summary p
    margin: 0  
    font-size: 15px
    line-height: 1.5
    letter-spacing: 0.3px
    text-align: justify

@media (max-width: 815px)
  article.show-alone

    div.show-container
      display: block

    .img-wrapper
      width: 100%
      margin: 0 auto

    .img-wrapper img
      min-width: 100%

    .show-meta-alone
      text-align: center
      margin: 0  



