article.show
  margin-top: 20px 
  margin-left: 5px
  margin-right: 5px 
  width: 200px
  height: 350px
  cursor: pointer
  position: relative

  .show-pic img
    max-width: 100%
    border-radius: 8px

    &:after
      content: ''
      width: 200px
      height: 281px
      background: rgba(0,0,0,0.6)
      border: 3px solid $red
      border-radius: 8px
      transition: all 100ms ease-in-out
      position: absolute
      top: 0
      z-index: 10 

  .show-meta 
    line-height: 1.4

  .show-meta .name
    font-weight: 600
    font-size: 16px
    margin-top: 5px
    color: $black

@media (max-width: 815px)
  article.show
    width: 45%
    height: auto
    text-align: center