doctype html
html(lang='en')
  head
    title Instatvfy
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='assets/css/main.css')

  body
    #app-body
      include assets/pug/_header
      include assets/pug/_site-nav
      
      #home-section
        .loader-wrap  
          .loader

    script(src='../../public/assets/js/bundle.js', type='text/javascript')
